.container .body .btn:last-of-type, .container .body .btn:nth-of-type(2){
  font-size: 7px;
}

@media screen and (min-width: 413px) and (max-width: 1200px) {
  .container .body .btn:last-of-type, .container .body .btn:nth-of-type(2){
    font-size: 11px;
  }

}

@media screen and (min-width: 1201px) {
    .container .body .btn:last-of-type, .container .body .btn:nth-of-type(2){
      font-size: 12px;
    }
}