.container{
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  height: 50vh;
  background: unset;
  border: unset;
  border-radius: unset;
  box-shadow: unset;
  padding: unset;
  gap: 2rem;
}

.header {
  width: 100%;
  height: 15%;
  background: var(--bg-color);
  border: var(--border);
  border-radius: 20px;
  padding: 0 20px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  color: var(--text-color);
}

.container .title h1{
  color: var(--title-color);
  font-size: 20px;
  text-transform: uppercase;
}

.header .score {
  font-size: 32px;
}

.cards {
  width: 100%;
  height: 85%;
  background: var(--bg-color);
  border: var(--border);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  perspective: 1000px;
}

.card {
  width: 53px;
  height: 68px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
  border: 1px solid #a9eeff;
  border-radius: 5px;
  box-shadow: 0px 0px 16px rgba(93, 93, 93, 0.6);
}

.rotate {
  transform: rotateY(180deg);
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  backface-visibility: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.back {
  transform: rotateY(180deg);
}

@media screen and (min-width: 413px) and (max-width: 1200px) {
  .container{
    width: 80vw;
    height: 100vh;
  }

  .container .title h1{
    font-size: 28px;
  }

  .header .score {
    font-size: 40px;
  }

  .card {
    width: 80px;
    height: 100px;
  }
}

@media screen and (min-width: 1201px) {
    body{
      height: 125vh;
    }
    .container{
      width: 60vw;
      height: 115vh;
    }

    .container .title h1{
      font-size: 32px;
    }

    .header .score {
      font-size: 48px;
    }

    .card {
      width: 100px;
      height: 130px;
    }
}