.cards {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

body[data-difficulty="easy"] .cards{
  background-image: var(--board-easy);
}

body[data-difficulty="medium"] .cards{
  background-image: var(--board-medium);
}

body[data-difficulty="hard"] .cards{
  background-image: var(--board-hard);
}

.cards .wrapper{
  width: 100%;
  height: 65%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  perspective: 1000px;
}

body[data-difficulty="medium"] .cards .wrapper{
  height: 70%;
}

body[data-difficulty="hard"] .cards .wrapper{
  width: 95%;
  height: 75%;
}

.card {
  width: 70px;
  height: 105px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  transform-style: preserve-3d;
  border-radius: 5px;
  box-shadow: 0px 0px 16px rgba(93, 93, 93, 0.6);
}

.rotate {
  transform: rotateY(180deg);
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  backface-visibility: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.back {
  transform: rotateY(180deg);
}

@media screen and (min-width: 413px) and (max-width: 1200px) {
  .cards .wrapper{
    width: 70%;
  }

  body[data-difficulty="medium"] .cards .wrapper{
    width: 60%;
  }

  body[data-difficulty="hard"] .cards .wrapper{
    width: 58%;
  }

}

@media screen and (min-width: 1201px) {
    .cards .wrapper{
      width: 30%;
    }

    body[data-difficulty="medium"] .cards .wrapper{
      width: 25%;
    }

    body[data-difficulty="hard"] .cards .wrapper{
      width: 26%;
    }
}