.container .title,
.container .score{
  justify-content: space-around;
}

@media screen and (min-width: 413px) and (max-width: 1200px) {
  .container .score {
    width: 50%;
  }
}

@media screen and (min-width: 1201px) {
    .container .score {
      width: 50%;
    }
}